@use '../base/variables.scss' as *;

.playlist {
  .playlist-details {
    .image {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
  .genres {
    .genre {
      .rank {
        width: 25px;
      }
    }
  }
  .tracks {
    .track {
      .image {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }
}