@use '../base/variables.scss' as *;


.graphCard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  .fakeGraph{
    border: 70px solid white;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
  }
}
