@use '../base/variables' as *;

.button {
  background: $default-gradient;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.35);

  color: $default-text;
  font-weight: bold;
  font-size: 1.25rem;

  border: none;

  &:focus, &:active:focus {
    box-shadow: none !important;
  }
}