@import './views/views';
@import './components/components';
@import './base/variables';

@import url('http://fonts.cdnfonts.com/css/montserrat');

* {
    padding: 0 !important;
    margin: 0 !important;
}

html {
    background-color: $default-background;
}

#app{
    min-height: 100vh;
    font-family: 'Montserrat', serif;
    background-color: $default-background;
}

p {
    color: $default-text;
}